body{
  background-image: url("src/bg.png");
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 600px 1100px;


}

@font-face { font-family: "Micky"; src: url("Micky.ttf"); }

 h1{
   font-family: Micky;
   font-size: 70px;
   color: black;
   overflow-wrap: break-word;
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
 }

p {
  font-family: 'Libre Caslon Text', serif;
  font-size: 16px;
  color: black;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

.quote {
  font-family: 'Libre Caslon Text', serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: black;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

.flex-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 75vh;
    padding: 20px;
    /*overflow: scroll;*/
}

.rectangle {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 10px;

  /*margin-top: 75%;*/
}

@media screen and (max-width: 800px) {

  html, body { overflow-x: hidden }

bg{
  height: 100%;
}



  .flex-container{
  position:relative;
  box-sizing: border-box;
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;

  /* margin-top: 8%; */
}
