body {
  background-image: url("src/bg.gif");
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;

  background-size: 600px 1100px; /* custom ratio */
  /* background-size: 100%; */ /* proportional sizing */
}


@font-face {
  font-family: "Micky";
  src: url("Micky.ttf");
}

h1 {
  font-family: Micky;
  font-size: 70px;
  color: black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p {
  font-family: 'Courier Prime';
  font-size: 16px;
  color: black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 9 3 3;
}

.images {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.images img{
  width: 100%;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.quote {
  font-family: 'Nanum Myeongjo', serif;

  font-size: 32px;
  text-align: center;
  color: black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 9 3 3;
}

.flex-container {
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 75vh;

  /* padding: 20px; */
  /*overflow: scroll;*/
}

.image-footnotes {
  font-family: 'Courier Prime';;
  font-size: 13px;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

.rectangle {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px black;

  /*margin-top: 75%;*/
  padding: 2em 2em 2em 2em;
}

@media screen and (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    height: 100vh;
    background-size: contain;
  }

  .bg {
    width: 100vw;
  }

  .flex-container {
    position: relative;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;

    /* margin-top: 8%; */
  }
}

.flex-container svg {
  stroke: #000;
  fill: #fff;
  margin-bottom:-12px;
  margin-left: -1.5px;
  stroke-width: 1px;
}
